*, *::before, *::after {
  padding: 0;
  margin: 0;
  font-weight: 300; }

body {
  font-family: "Segoe UI"; }

li {
  list-style-type: none; }

.main-app {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 20vw 80vw;
  grid-template-areas: "header header" "side-nav main-content"; }
  @media screen and (max-width: 500px) {
    .main-app {
      grid-template-rows: 20vh auto auto;
      grid-template-columns: 100%;
      grid-gap: 20px;
      grid-template-areas: "header" "main-content" "side-nav"; } }

.main-header {
  grid-area: header; }

.main-side-nav {
  grid-area: side-nav; }

.main-section {
  grid-area: main-content; }

.main-header {
  background-color: steelblue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 200;
  text-align: center; }

.main-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px; }

.main-section__main-app {
  margin: 0 10px;
  border: 1px solid black;
  color: white;
  font-weight: 800;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPUi0yy3eH-7rQccNsRLzd8fISSr9OQPfmdlPXoRuCu5H78mdg");
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  @media screen and (max-width: 480px) {
    .main-section__main-app {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3TpPcMXR0K-FP2I7bvb9F-7CaqCRM-JTlyibq5mnCk2ey_opURw");
      background-size: 100% 100%; } }
  .main-section__main-app li {
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center; }

.main-form {
  background-color: white;
  border: 1px solid #aaaaaa;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 400px;
  /* HIDE RADIO */
  /* IMAGE STYLES */
  /* CHECKED STYLES */ }
  .main-form__title {
    line-height: 2;
    font-size: 1.2em; }
  .main-form__button {
    background-color: #e63232;
    border: none;
    color: white;
    line-height: 2;
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px; }
    .main-form__button i {
      margin-right: 15px; }
  .main-form input {
    line-height: 2.5;
    margin: 10px 0;
    text-align: center; }
  .main-form [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0; }
  .main-form [type=radio] + img {
    cursor: pointer; }
  .main-form [type=radio]:checked + img {
    outline: 2px solid #c8c8c8;
    background-color: #646464; }
  .main-form img {
    max-height: 80px;
    padding: 10px; }

.box {
  height: 70px;
  width: 40px;
  position: relative;
  margin: 10px 10px;
  cursor: pointer;
  text-align: center; }
  .box.full {
    background-size: 100% 100%;
    color: white; }
    .box.full.car {
      background-image: url("http://worldartsme.com/images/car-from-above-clipart-1.jpg"); }
    .box.full.motocycle {
      background-image: url("../assets/motocycle.png"); }

.button {
  border: none;
  font-size: 1.1em;
  padding: 0 20px;
  line-height: 1.4;
  line-height: 2;
  border-radius: 30px;
  margin: 10px 0;
  cursor: pointer; }
  .button--save {
    background-color: seagreen;
    color: white; }
  .button--delete {
    background-color: crimson;
    color: white; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  font-size: 1.2em;
  outline: 3px solid black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }
  .modal h1 {
    background-color: crimson;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 0 40px; }
  .modal p {
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    line-height: 2; }
  .modal strong {
    font-weight: bolder;
    background-color: #d2d2d2; }
