.main-app {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 20vw 80vw;
    grid-template-areas:
        "header header"
        "side-nav main-content"
    ;

    @media screen and (max-width: 500px) {
        grid-template-rows: 20vh auto auto;
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-template-areas: 
            "header"
            "main-content"
            "side-nav"
        ;
    }

}

.main-header {
    grid-area: header;
}

.main-side-nav {
    grid-area: side-nav;
}

.main-section {
    grid-area: main-content;
}