.main-section {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: rgb(240, 240, 240);

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    &__main-app {
        margin: 0 10px;
        border: 1px solid black;
        color: white;
        font-weight: 800;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPUi0yy3eH-7rQccNsRLzd8fISSr9OQPfmdlPXoRuCu5H78mdg");
        

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);

        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3TpPcMXR0K-FP2I7bvb9F-7CaqCRM-JTlyibq5mnCk2ey_opURw");
            background-size: 100% 100%;
        }

        li {
            align-self: center;
            justify-self: center;
        }
    }
}


.main-form {
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;

    &__title {
        line-height: 2;
        font-size: 1.2em;
    }

    &__button {
        background-color: rgba(230, 50, 50, 1);
        border: none;
        color: white;
        line-height: 2;
        font-size: 1.1em;
        width: 100%;
        cursor: pointer;

        margin-top: 30px;
        margin-bottom: 10px;
        i {
            margin-right: 15px;
        }
    }

    input {
        line-height: 2.5;
        margin: 10px 0;
        text-align: center;
    }

    /* HIDE RADIO */
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline: 2px solid rgb(200, 200, 200);
        background-color: rgb(100, 100, 100);
    }

    img {
        max-height: 80px;
        padding: 10px;
    }
}