.box {
    height: 70px;
    width: 40px;
    position: relative;
    // border: 1px solid rgb(120, 120, 120);
    margin: 10px 10px;
    cursor: pointer;
    text-align: center;

    &.full {
        background-size: 100% 100%;
        color: white;

        &.car {
            background-image: url("http://worldartsme.com/images/car-from-above-clipart-1.jpg");
        }

        &.motocycle {
            background-image: url("../assets/motocycle.png");
        }
    }
}

.button {
    border: none;
    font-size: 1.1em;
    padding: 0 20px;
    line-height: 1.4;
    line-height: 2;
    border-radius: 30px;   
    margin: 10px 0;
    cursor: pointer;

    &--save {
        background-color: seagreen;
        color: white;
    }

    &--delete {
        background-color: crimson;
        color: white;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    font-size: 1.2em;
    outline: 3px solid black;
    box-shadow: 0 0 10px black;

    h1 {
        background-color: crimson;
        color: white;
        font-weight: bolder;
        margin-bottom: 10px;
        padding: 0 40px;
    }

    p {
        margin: 20px 0;
        padding: 20px;
        text-align: left;
        line-height: 2;
    }

    strong {
        font-weight: bolder;
        background-color: rgb(210, 210, 210);
    }
}